:root {
  --primary: #FFF;
  --secondary: #000;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: var(--secondary);
  color: var(--primary);
}

.circle {
  position: absolute;
  top: 0;
  z-index: 1000;
  mix-blend-mode: soft-light;
  pointer-events: none;
  transform: translate(-50%, -50%);
  left: 0;
  width: 3em;
  height: 3em;
  background-color: black;
  border-radius: 50%;
}

.terugknop {
  position: fixed;
  display: block;
  padding: 1em;
  background: #DCDCDC;
  color: black;
  font-weight: 700;
  top: 2em;
  left: 2em;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background: #212121;
}

.visite-kaart-sam {
  position: relative;
  border-radius: 2em;
  font-family: sans-serif;
  /* background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); */
  background: #DCDCDC;
  text-align: center;
  max-width: 500px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.info {
  position: absolute;
  color: white;
  z-index: 10;
  top: 5px;
  right: 0;
  transform: translateX(110%);
}

.info img {
  height: 1em;
  margin-right: 5px;
}

.info a {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: .4em;
  text-decoration: none;
  color: white;
}

.visite-kaart-sam h1 {
  color: #212121;
  margin: 0;
  font-size: 2em;
}

.visite-kaart-sam h2 {
  font-weight: 400;
  color: rgb(46, 45, 45);
  font-size: 1.2em;
  margin: 0;
}

.visite-kaart-sam .image-container img {
  width: 50%;
  border-radius: 50%;
  border: 8px solid #e4e4e4;
  ;
}

.visite-kaart-sam ul {
  color: #212121;
  height: 7em;
  background: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0em;
  margin: 0;
  margin-top: -3.5em;
}

.visite-kaart-sam .image-container {
  position: relative;
}

.visite-kaart-sam .jaar {
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-weight: 800;
  font-size: 1.4em;
  color: black;
  top: 0;
  left: 30%;
  transform: rotate(-30deg);
}

.visite-kaart-sam ul li {
  font-weight: 700;
  /* letter-spacing: .; */
}

.visite-kaart-sam ul li:nth-of-type(2) {
  padding-top: 3em;
}

.visite-kaart-sam blockquote {
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #000;
}

article {
  transition: .3s;
}

article:hover {
  transform: scale(1.05);
}