:root {
  --primary: #FFF;
  --secondary: #000;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: var(--secondary);
  color: var(--primary);
}

.visite-kaart-sam {
  border-radius: 2em;
  font-family: sans-serif;
  /* background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); */
  background: #212121;
  text-align: center;
  max-width: 500px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.visite-kaart-sam h1 {
  color: #F97E2B;
  ;
  margin: 0;
  font-size: 2em;
}

.visite-kaart-sam h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
}

.visite-kaart-sam img {
  width: 50%;
  border-radius: 50%;
  border: 8px solid #F97E2B;
  ;
}

.visite-kaart-sam ul {
  color: #F97E2B;
  height: 7em;
  background: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0em;
  margin: 0;
  margin-top: -3.5em;
}

.visite-kaart-sam .image-container {
  position: relative;
}

.visite-kaart-sam .jaar {
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-weight: 800;
  font-size: 1.4em;
  color: black;
  top: 0;
  left: 30%;
  transform: rotate(-30deg);
}

.visite-kaart-sam ul li {
  font-weight: 700;
  /* letter-spacing: .; */
}

.visite-kaart-sam ul li:nth-of-type(2) {
  padding-top: 3em;
}

.visite-kaart-sam blockquote {
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #000;
}